/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */
html,
body {
  height: 100%;
}

body {
  color: #bfbfbf;
  background: black;
  font-family: "Futura-Medium", "Futura", "Trebuchet MS", sans-serif;
}

h1 {
  color: white;
}

.titreBillet {
  margin-bottom: 0px;
}

#global {
  min-height: 100%; /* Voir commentaire sur html et body plus haut */
  background: #333534;
  width: 70%;
  margin: auto; /* Permet de centrer la div */
  text-align: justify;
  padding: 5px 20px;
}

#contenu {
  margin-bottom: 30px;
}

#titreBlog,
#piedBlog {
  text-align: center;
}

#titreReponses {
  font-size: 100%;
}

#txtCommentaire {
  width: 50%;
}
